<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Login Suite" >
    <test verbose="5" name="chrome browser" >
        <parameter name="browserName" value="chrome"/>
        <classes>
            <class name="com.udemyautomationtesting.TestLoginPage">
                <parameter name="email" value="dineshkumar.icon@gmail.com"/>
                <parameter name="password" value="Dinnu@247"/>
<!--            <class name="com.udemyautomationtesting.TestHomePage">-->
                <methods>
                    <include name="loginTo_Application_WithValid_Credentials"/>
<!--                    <include name="logoutFromApplication"/>-->
                </methods>
            </class>
        </classes>
    </test>
    <test verbose="2" name="firefox browser">
        <parameter name="browserName" value="firefox"/>
        <classes>
            <class name="com.udemyautomationtesting.TestLoginPage">
<!--            <class name="com.udemyautomationtesting.TestHomePage">-->
                <parameter name="email" value="dineshkumar.icon@gmail.com"/>
                <parameter name="password" value="Dinnu@247"/>
                <methods>
                    <include name="loginTo_Application_WithValid_Credentials"/>
<!--                    <include name="logoutFromApplication"/>-->
                </methods>
            </class>
        </classes>
    </test>
</suite>